[Desktop Entry]
Icon=system-reboot
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcm_grub2

X-KDE-Library=kcm_grub2
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=GRUB2 Bootloader
Name[da]=GRUB2 Bootloader
Name[de]=GRUB2-Bootloader
Name[et]=GRUB2 alglaadur
Name[hu]=GRUB2 rendszerbetöltő
Name[lt]=GRUB2 įkrovos tvarkyklė
Name[nds]=Systeemstarter Grub2
Name[nl]=Grub2 bootloader
Name[pt]=Gestor de Arranque GRUB2
Name[pt_BR]=Gerenciador de Inicialização GRUB2
Name[uk]=Завантажувач GRUB2
Name[x-test]=xxGRUB2 Bootloaderxx
Comment=Customise the GRUB2 bootloader
Comment[da]=Tilpas GRUB2-bootloaderen
Comment[de]=GRUB2-Bootloader einrichten
Comment[et]=GRUB2 alglaaduri seadistamine
Comment[hu]=A GRUB2 rendszerbetöltő testreszabása
Comment[nds]=Systeemstarter Grub2 topassen
Comment[nl]=Pas de Grub2 bootloader aan
Comment[pt]=Personalizar o gestor de arranque GRUB2
Comment[pt_BR]=Personalizar o gerenciador de inicialização GRUB2
Comment[uk]=Налаштування завантажувача GRUB2
Comment[x-test]=xxCustomise the GRUB2 bootloaderxx
X-KDE-Keywords=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader
Categories=Qt;KDE;X-KDE-settings-system;
